/* Styles für Kontakt Seite */
.contact-us {
  padding: 10px 100px;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 100px;
}

.contact-us h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 15px;
  color: #333;
}

.contact-us h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 60px 0 5px;
}

.contact-us img {
    width: 25px;
    height: auto;
    margin: 0 9px 0px;
}

.black {
    color: #000;
}

.contact-us p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.contact-us form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-us label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  text-align: left;
}

.contact-us input,
.contact-us textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fff;
}

.contact-us button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.contact-us button:hover {
  background-color: #000;
}

.contact-us textarea {
  height: 150px;
  resize: none;
}
