<<<<<<< HEAD
/* Produktbeschreibung */
.product-information {
  background-color: #f5f5f5;
  padding: 0 20px 50px;
  text-align: center;
  scroll-margin-top: 81px;
}

.product-information .product-paragraph {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-information .product-paragraph h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.product-information .product-paragraph p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
  text-align: center;
  margin: 0 100px 15px;
  font-family: "Montserrat";
}

.product-information .product-paragraph hr {
  margin: 20px;
=======
/* Shop Header */
.shop-header {
  text-align: center;
  padding: 20px 0 20px;
  margin-top: 81px;
}

.shop-header h1 {
  font-size: 36px;
  font-weight: 600;
  color: #333;
}

.shop-header p {
  font-size: 18px;
  color: #666;
}

/* Shop Produkte Section */
.shop-products {
  padding: 0 20px;
  margin-bottom: 5px;
>>>>>>> 817adb89bf5e3bc349f1737ba38e87232e891f85
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Produkte Section */
.product-highlights {
<<<<<<< HEAD
  padding: 2px 20px 50px;
  background-color: #f5f5f5;
=======
  padding: 5px 20px;
  background-color: #ffffff;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
>>>>>>> 817adb89bf5e3bc349f1737ba38e87232e891f85
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
  padding: 20px 20px 5px;
=======
  padding: 20px;
>>>>>>> 817adb89bf5e3bc349f1737ba38e87232e891f85
  text-align: center;
  overflow: hidden;
  height: auto;
}

.product-image {
<<<<<<< HEAD
  width: 80%;
  max-width: 600px;
  min-width: 331px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.product-title {
  font-size: 30px;
=======
  width: 440px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-title {
  font-size: 20px;
>>>>>>> 817adb89bf5e3bc349f1737ba38e87232e891f85
  font-weight: 600;
  color: #333;
}

.product-description {
<<<<<<< HEAD
  font-size: 20px;
  color: #666;
  margin-bottom: 10px;
}

.product-price {
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Montserrat", serif;
=======
  font-size: 16px;
  color: #666;
>>>>>>> 817adb89bf5e3bc349f1737ba38e87232e891f85
}

.product-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
<<<<<<< HEAD
  margin-bottom: 10px;
=======
>>>>>>> 817adb89bf5e3bc349f1737ba38e87232e891f85
}

.red:hover,
.blue:hover {
  transition: 150ms ease;
  transform: scale(1.01);
}

.red:hover {
  background-color: #eb2e4c;
}

.blue:hover {
  background-color: #1ea0c4;
}
<<<<<<< HEAD

.product-about a {
  color: #333;
  font-size: 1rem;
}
=======
>>>>>>> 817adb89bf5e3bc349f1737ba38e87232e891f85
